// Fontes
$fontPrincipal: Roboto, sans-serif;

// Esquema de cores
$corDeFundo: #c8d6e5;
$corPrincipal: #01a3a4;
$corSecundaria: #00d2d3;
$corBackground: #b7dddd;
$corFundoNavbar: #a1f1f1;
$corSecaoButton: #3bc5c5;
$corButtonHover: #c5f8f8;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;